@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.wrapper {
  display: flex;
  background: #fff;
  max-width: 520px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.middleSection {
  display: flex;
  background: #fff;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Login & Signup Form CSS Start */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f7f7;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap-reverse;
    max-width: 390px;
  }

  #side-info {
    display: none;
  }
}

/* Login & Signup Form CSS Start */
.form {
  padding: 25px 30px;
  border: none;
  width: 100%;
}

:is(.form)::-webkit-scrollbar {
  width: 0px;
}

.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

.form form {
  margin: 20px 0;
}

.form form .error-text {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}

.form form .name-details {
  display: flex;
}

.form .name-details .field:first-child {
  margin-right: 10px;
}

.form .name-details .field:last-child {
  margin-left: 10px;
}

.form form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.form form .field label {
  margin-bottom: 9px;
}

.form form .input input,
textarea {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.form form .input textarea::placeholder-shown ~ label {
  padding: 20px;
  font-size: 16px;
  top: 50px;
}

.form form .input > input:valid ~ div {
  display: none;
}

.form form .input > input:invalid ~ div {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 15px;
  margin-top: 10px;
}

#confirmPass {
  display: none;
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 15px;
  margin-top: 13px;
}

.form form .field input {
  outline: none;
}

.form form .image input {
  font-size: 17px;
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a {
  color: #333;
}

.form .link a:hover {
  text-decoration: underline;
}

.form form .button input {
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #ba54eb;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}

.form form .button input:disabled {
  color: #eee;
  background-color: #aaa;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
  cursor: not-allowed;
}

.elm80 {
  color: green;
  font-size: 1em;
  height: max-content;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.elm82 {
  justify-content: center;
  padding: 16px 0 0 0;
  box-sizing: border-box;
  display: flex;
  margin: 0;
}

.elm84 {
  color: red;
  font-size: 1em;
  font-weight: 600;
  height: max-content;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.waitSpinner {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.waitSpinner svg {
  animation: spinnerRotate 1.5s linear infinite;
  height: 100%;
  width: 100%;
}

.waitSpinner circle {
  animation: spinnerDash 1.5s ease-in-out infinite 0s,
    spinnerColor 6s ease-in-out infinite -0.75s;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  fill: none;
  stroke-width: 5;
}

@keyframes spinnerRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinnerDash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -45;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes spinnerColor {
  100%,
  0% {
    stroke: #4285f4;
  }

  25% {
    stroke: #de3e35;
  }

  50% {
    stroke: #f7c223;
  }

  75% {
    stroke: #1da760;
  }
}

.defDiv {
  height: max-content;
  box-sizing: border-box;
  margin: 0;
}

.defDivAutocenter {
  padding: 0 16px;
  box-sizing: border-box;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}

.elmBoxButton {
  height: 48px;
  box-sizing: border-box;
  margin: 0;
}

.elmBoxError {
  display: none;
  height: 48px;
  box-sizing: border-box;
  margin: 0;
}

.elmBoxSpinner {
  display: none;
  box-sizing: border-box;
  margin: 0;
  width: 21%;
  margin-left: auto;
  margin-right: auto;
}

/* Menu */
#createClass,
#joinClass,
#PersonsDetails,
#createTask {
  display: none;
  background-color: rgb(100, 100, 100, 0.75);
  backdrop-filter: blur(2px) saturate(200%);
  bottom: 0;
  filter: blud(3px) saturate(200%);
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  z-index: 10000;
}

#createClass > .drawerSide {
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(-251px, 0, 0);
  transition: transform 0.3s ease;
  width: 550px;
  display: flex;
  align-items: center;
}

#createClass > #drawerSide > div {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#joinClass > .drawerSide {
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(-251px, 0, 0);
  transition: transform 0.3s ease;
  width: 550px;
  display: flex;
  align-items: center;
}

#joinClass > #drawerSide > div {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#PersonsDetails > .drawerSide {
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(-251px, 0, 0);
  transition: transform 0.3s ease;
  width: 550px;
  display: flex;
  align-items: center;
}

#PersonsDetails > #drawerSide > div {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#createTask > .drawerSide {
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(-251px, 0, 0);
  transition: transform 0.3s ease;
  width: 550px;
  display: flex;
  align-items: center;
}

#createTask > #drawerSide > div {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#classInfor {
  transform: translate3d(530px, 0px, 0px);
  transition: all ease 500ms;
  display: none;
}

.classDiv {
  display: flex;
}

#AllClasses {
  border-left: 1px solid darkgray;
  display: flex;
  flex-wrap: wrap;
}

#boxButton {
  display: flex;
  justify-content: center;
}

.usrImg {
  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  border-radius: 4px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 100;
  top: 40px;
  left: 55px;
}

.downlaod {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  font-size: 15px;
  width: 100%;
}

.downlaod:hover {
  background-color: #d8e3e7;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: -50px;
  margin-bottom: -35px;
}

.dropbtn:hover {
  color: white;
}

.dropdown-content a:hover {
  color: white;
}

.sendEmialInfo {
  display: flex;
  cursor: pointer;
  color: black;
}

.upperInfoMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.classDivOuter {
  padding: 20px;
}

.classDivAl {
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url(./images/webImages/Physics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color: white;
}

.classTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.className {
  cursor: pointer;
  transition: all ease 500ms;
  color: white;
}

.className:hover {
  text-decoration: underline;
}

.classSecDiv {
  border: 1px solid darkgray;
  height: 100px;
  background: #f5f5f5;
  padding: 21px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.noClases {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
  padding: 20px;
  border-radius: 21px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.menus {
  display: flex;
  padding: 15px;
}

.menuBtn {
  color: black;
  margin-right: 30px;
  cursor: pointer;
  font-size: 16px;
}

.menuBtn:hover {
  color: #aa87e3;
  font-weight: bold;
}

.commentLoad {
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
}

.commentLoads {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.personId {
  display: flex;
  align-items: center;
}

.personId > img {
  border-radius: 20px;
}

.personName {
  margin-left: 25px;
}

.personName > p {
  color: darkgrey;
}

.commentText {
  padding: 16px;
  font-size: 15px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

.PersonsGrp {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 0.0625rem solid #dadce0;
  border-bottom-width: thin;
  padding: 13px;
}

.PersonsGrp > h5 {
  margin-left: 20px;
}

.PersonsGrp > img {
  border-radius: 20px;
}

.Persontitle {
  color: #174ea6;
  border-bottom: 0.0625rem solid #174ea6;
}

.taskMsgDetail {
  border: 0.0625rem solid #dadce0;
  padding: 20px;
  margin-bottom: 20px;
}

.classIndo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.classIndo > h5 {
  margin-left: 25px;
}

.sendMsgBtn {
  padding: 12px;
  background: black;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.seeComments {
  color: #5f6368;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 36px;
}

.seeComments:hover {
  text-decoration: underline;
}

.noTaskFounds {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.noTaskFounds > header {
  margin-left: 25px;
}

.daedLineDiv {
  color: #174ea6;
  border-bottom: 0.0625rem solid #174ea6;
}

.deadLine {
  text-align: end;
  color: black;
}
